.wrapper{
    display: flex;
}
.addModule-wrapper{
    flex: 1;
    margin: 5px;
    border-radius: 2px;
    padding: 20px 20px 20px 70px;
    background-color: #fff;
    min-height: 512px;
}
.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
.moduleClassify{
    margin-bottom: 25px;
}
.moduleClassify-label{
    display: inline-block;
    width: 16.66666667%;
    text-align: right;
}